*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    color: white;
    font-family: 'Anek Latin', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    background: linear-gradient(180deg, rgba(108,61,149,1) 30%, rgb(95, 147, 250) 100%);

    /*background = cor gradiente, degradê atraves de site */
}

.foto{
    width: 165px;
    border-radius: 50%;
    border: 1px dotted #FF6699;
    padding: 2px;
    box-shadow: 0 0 40px white;
    border-width: 2px;
    background-color: white;
}

h1{
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: -6px;
    
}

h2{
    font-family: 'Anek Latin', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: lighter;
    color: #ffb8d0;
}

h3{
    font-family: 'Clicker Script', cursive;
    color: white italic;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}

.profile{
    text-align: center;
    margin-top: 20px;
}

.social{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    /* display = flex  (flexbox)
    justifify content = justificar/ainhar conteudo  - > só funciona com flexbox */
}

.social img{
    width: 33px;
}

.espaco_logos{
    margin-left: 20px;
}

.links_list{
    list-style: none;
}

.icon{
    width: 5px;
}

.links_list li{
    margin: 10px 20px;
}

.links_list li a {
    display: block;
    background-color: white;
    padding: 10px 20px;
    border: 1px #FF6699;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 3px white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.links_list li a span{
    display: block;
    color:#FF6699;
    font-size: 15px;
    font-weight: lighter;
}

.links_list li :hover{
    background-color: #f7e7ee;
}

.icons_animation :hover {
    animation: icons_animation 0.3s linear alternate ;
}

@keyframes icons_animation {
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

.final_text{
    text-align: center;
}

.coracao{
    width: 35px;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 10px;
}